.header
  ul.nav.nav-pills.pull-right
    li.active
      a(ng-href='#') Home
    li
      a(ng-href='#') About
    li
      a(ng-href='#') Contact
  h3.text-muted astrosonnetApp
.jumbotron
  h1 Astro, Sonnet!
div.main-content
  div.content-area
    form(ng-submit="astroSubmit()")
      legend Birth Details
      .form-group
        label(for='firstName') First Name
        input.form-control(data-ng-model="data.firstName", name='firstName',
          type='text', placeholder='Whom do we have the pleasure of working with?')

        label(for='birthDate') Time of Birth
        div.dropdown
          a.dropdown-toggle(id="dropdown2", role="button", data-toggle="dropdown", data-target="#", href="#")
            div.input-group
              input.input-large(type="text", data-date-time-input="MMM/DD/YYYY hh:mm A", 
                placeholder="When did you show up?", data-ng-model="data.birthDate").form-control
              span.input-group-addon
                i.glyphicon.glyphicon-calendar
          ul.dropdown-menu(role="menu", aria-labelledby="dLabel")
            datetimepicker(data-ng-model="data.birthDate", data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }")

        label(for='state') State of Birth
        select(chosen="",state-samples="",name=state,id="select-state",data-ng-model="data.state",ng-required="true",
          ng-options="state for (code, state) in states",data-placeholder=" Select a state...").form-control
          option(value="")
          
        label(for='city') City of Birth
        select(chosen="",name="city",id="select-city",data-ng-model="data.city",ng-required="true",
          ng-options="city.name for city in cities",data-placeholder=" Select a city...").form-control
          option(value="")

      button.btn.btn-primary(type='submit') Submit
.footer
  p ♥ from the Bardo.io team

